.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

content {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

content page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: -20px;
}

content page subdiv {
  width: 98vw;
  display: flex;
  flex-direction: column;
  padding: 2vh 10%;
}

content page footer {
  color: rgba(249, 249, 249, 0.4);
  position: fixed;
  bottom: 10px;
}

content page .table {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(200, 200, 200, 0.1);
  z-index: 300;
}

content page .table b {
  text-transform: uppercase;
  letter-spacing: 0.4vw;
}

content page .table a {
  text-decoration: none;
}

content page .table a:hover {
  background: rgba(200, 200, 200, 0.4);
}

content h1 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1vw;
  line-height: 4vw;
  margin: 1vw 0 1vw;
}

content h2 {
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.4vw;
  line-height: 2vw;
  margin: 1vw 0 1vw;
}

content #welcome {
  background: #70407A;
}

content #about {
  background: #b33939;
}

content #layouts {
  background: #cd6133;
}

content #layouts #bigwidgets {
  background: #b9572d;
}

content #layouts #biggerwidgets {
  background: #a54d28;
}

content #layouts #hugewidgets {
  background: #904423;
}

content #elements {
  background: #cc8e35;
}

content #elements #shishkabobs {
  background: #b9802f;
}

content #elements #bbqkabobs {
  background: #a4722a;
}

content #elements #summerkabobs {
  background: #906424;
}

content #contact {
  background: #218c74;
}

@keyframes fadeInShadow {
  from {
    box-shadow: 0px 0px 14px transparent;
  }
  to {
    box-shadow: -7px 7px 14px rgba(0, 0, 0, 0.4);
  }
}

.fadeInShadow {
  animation: fadeInShadow normal ease-in 3s;
  animation-fill-mode: forwards;
}

.column {
  float: left;
  height: 100%
}

@media screen and (max-width: 800px) {
  .column {
    padding-top: 3vw;
    padding-bottom: 3vw;
    clear: both;
    text-align: center;
    min-width: 100%;
    display: inline-block;
  }
}
#welcomebanner{
  position:absolute;
  top:10;
  right:10;
}