.animation {
  position: absolute;
  display: block;
  margin: none;
  top: 17%!important;
  left: 45vh;
  /* right: 30vw!important; */
  height: 30px;
  overflow: hidden;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #DDDDDD;
  width: 80vw;
  z-index: 1;
}

.animation__container {
  /* font-weight: 800; */
  position:relative;
  overflow: hidden;
  line-height: 30px;
  height: 30px;
  width: 90vw;
  z-index: 1;
}
.gradient{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 5;
pointer-events: none;
padding:0;
}
.g-top {
  background: linear-gradient(to bottom, rgba(79, 77, 196, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),  rgba(79, 77, 196, 1));
}

.animation__container__text {
  position: absolute;
  float: left;
  margin: 0;
  /* left: 3vw; */
  z-index: 1;
}
.animation__container__list a {
  text-decoration: none;
}
.animation__container__list {
  text-decoration: none;
  position: absolute;
  line-height: 30px;
  margin-top: 0;
  padding: 0;
  z-index: 1;
  /* margin-left: 13vw; */
  text-align: left;
  list-style: none;
  overflow: hidden;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.animation__container__list__item {
  line-height: 40px;
  margin: 0;
  z-index: 1;
  /* padding: 2px; */
}

/* @-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

@-webkit-keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}

/* @-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

@-o-keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}

/* @-moz-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

@-moz-keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}

/* 
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

@keyframes change {
  100%, 0%{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  75%,25% {
    -webkit-transform: translate3d(0, -33.33%, 0);
            transform: translate3d(0, -33.33%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -66.66%, 0);
            transform: translate3d(0, -66.66%, 0);
  }
}

@media screen and (max-width: 912px) {
  .animation {
    left: 7%!important;
    /* top: 15.5%!important; */
  }
  #welcomeContent{
    padding-top: 0!important;
  }
}

@media screen and (max-width: 600px) {
  .animation {
    left: 7%!important;
    top: 15.5%!important;
  }
}

@media screen and (max-width: 600px) {
  .animation {
    font-size: 14px;
  }
}
@media screen and (max-height: 600px) {
  .animation {
    font-size: 3vh;
  }
}